<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/student/style.css">
</head>
<body>
    <div class="sidebar">
        <header> My Library </header>
        <ul>
            <li><a href="index.html"><i>Home</i></a></li>
            <li><a href="message.html"><i>Messages</i></a></li>
            <li><a href="books.html"><i>All books</i></a></li>
            <li><a href="recommendation.html"><i>Recommend books</i></a></li>
            <li><a href="curr-books.html"><i>Currently issued Books</i></a></li>
        </ul>
    </div>

    <div class="details-container">
        <div class="detail-header">
            <h3>Recommend a book</h3>
            <div class="detail-form">
                <form action="/student-recommendation" method="POST">
                    <label for="book-title">Book title: </label>
                    <input type="text" id="book-title" name="book-title" required>
                    <label for="description">Description: </label>
                    <input type="text" id="description" name="description" required><br>

                    <button type="submit">submit recommendation</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
