<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/admin/style.css">
</head>
<body>
    <div class="sidebar">
        <header> My Library </header>
        <ul>
            <li><a href="/admin-index"><i>Home</i></a></li>
            <li><a href="/admin-message"><i>Messages</i></a></li>
            <li><a href="/admin-users"><i>Manage students</i></a></li>
            <li><a href="/admin-all-books"><i>All books</i></a></li>
            <li><a href="/admin-book"><i>Add books</i></a></li>
            <li><a href="/admin-request"><i>Issue/Return/Request</i></a></li>
            <li><a href="/admin-recomm"><i>Book recommendations</i></a></li>
            <li><a href="/admin-curr"><i>Currently issued Books</i></a></li>
        </ul>
    </div>

    <div class="img-detail">
        <div class="card">
            <div class="img">
                <img src="/admin/images/rick_sanchez.jpeg" alt="profile-pic">
            </div>
            <div class="details">
                <p><i>Name: {{.user.Name}}</i></p>
                <p><i>Roll No: {{.user.Roll_no}}</i></p>
            </div>
        </div>
    </div>
</body>
</html>
