body {
    background-color: darkgrey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: #042331;
}

.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.sidebar ul a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: white;
    padding-left: 20px;
    border-bottom: 1px solid #063146;
    transition: all 0.3s;
}

.sidebar ul a:hover {
    padding-left: 30px;
    background: #06536b;
}

.img-detail {
    margin-left: 250px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: darkgrey;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 400px;
    height: 400px;
    text-align: center;
    padding: 5px;
}

/* admin */

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}


.img img {
    height: 250px;
    width: 250px; 
    object-fit: cover; 
    margin: 2vh;
    margin-right: 3vh;
    border-radius: 5px;
}

.details {
    padding: 0px;
}

.details p {
    font-size: 24px;
    color: #333;
    margin: 3px 0;
}

.details-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 225vh;
    box-sizing: border-box;
    padding: 20px;
}

.detail-header {
    text-align: center;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.detail-header h3 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}

.detail-form form {
    display: inline-block;
    text-align: left;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.detail-form form label {
    display: block;
    margin-top: 10px;
}

.detail-form form input {
    width: 400px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.detail-form form button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.detail-form form button:hover {
    background-color: #218838;
}


.add-book {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 225vh;
    box-sizing: border-box;
    padding: 20px;
}

.book-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.book-header h3 {
    color: #333;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}

.book-container form {
    display: inline-block;
    text-align: left;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.book-container form label {
    display: block;
    margin-top: 10px;
}

.book-container form input {
    width: 400px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.book-container form button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.book-container form button:hover {
    background-color: #218838;
}


.table {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.search {
    margin-bottom: 20px;
}

.search form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search label {
    margin-right: 10px;
}

.search input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    flex: 1;
}

.search button {
    padding: 8px 16px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.search button:hover {
    background-color: #218838;
}

.general-table {
    overflow-x: auto;
}

.general-table table {
    width: 100%;
    border-collapse: collapse;
}

.general-table th, .general-table td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
}

.general-table th {
    background-color: #f4f4f4;
}

.general-table tr:nth-child(even) {
    background-color: #f9f9f9;
}


.table button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
